.user-avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
  margin-top: 7vh;
  margin-left : 6vw;
  margin-right: 10vw;
  width: 27vh;
  height: 27vh;
}
.user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.name{
  display: flex;
  justify-content: center;
  margin-right: 10vw;
  margin-top: 1vh;
  width: 27vh;
  margin-left:6vw;
}
.UserPanel{
  width:27vw;
  margin-top:-2vh;
  height: 84vh;
  border-right: 1px solid #fff;
  position:fixed;
}
.profile-row {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  margin-left: 5vw;
  margin-top: 5vh;
}
.profile-col i{
  color:white !important;
  font-size: 40px;
}
.profile-col {
  padding-right: 1vw;
  padding-left: 1vw;
  flex: 1;
  max-width: 11.8vw;
  flex-basis: 10vw;
}
.user-col{
  flex: 1;
  max-width: 50vw;
  flex-basis: 10vw;
  margin-top: 10vh;

}
.user-row{
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}
.user-img{
  margin-left: -22.3vw;
  width: 71.5vw;
  height: 40vh;
}
.user-img img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.content-row{
  display: flex ;
  flex-wrap: wrap ;
  align-content: stretch ;
  margin-top: 2vh ;
  margin-left:-10vw;
  margin-bottom: 5vh;
}
.content-col i{
  margin-top: 0.6vh;
  font-size: 4vh;
  color:#fff !important;
}
.content-col div{
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  border:2px solid #fff ;
  width:6vw;
  height: 5vh;
}
.content-col{
  margin-top: 5vh;
  margin-left: 10vw;
  justify-content: center;
  flex: 1 ;
  max-width: 1vw ;
  flex-basis: 20vw ;
}
.post-row{
  display: flex ;
  flex-wrap: wrap ;
  align-content: stretch ;
  margin-left: -34vw;
  margin-bottom: 3vh;
}
.post-img{
  display: flex;
  justify-content: center;
  margin-bottom: 1vh;
  margin-top: 1vh;
  width: 40vh;
  height: 35vh;
}
.post-img-col{
  flex: 1;
  /*margin-right: 10vw;*/
  margin-left: 14vw;
  max-width: 10vw;
  flex-basis: 20vw;
}